Body {
  background-image: linear-gradient(to right, 	#1094BB, #27AECC, #30DAFF, #7DE7FF)
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.smurfsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  width: 100%;
}

.smurfs {
  margin: 0.25em;
  height: auto;
  border-radius: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
